.register-page {
    background-image: url(../img/bg-fon.png);
    background-size: cover;
    min-height: 100vh;
}

.clearfix::after {
    content: "";
    clear: both;
}

.header {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 0;
}

.container {
    width: 1031px;
    margin: 0 auto;
}

.title-name {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
}

.title-name:hover {
    color: #3cb878;
}

.navbar-right-col {
    float: right;
    display: inline-block;
}

.sprites {
    position: relative;
    display: inline-block;
}

.sprites::after {
    position: absolute;
    content: "";
    border-right: 1px solid #eaeaea;
    height: 20px;
}

.icon {
    display: inline-block;
    background-image: url(../img/huinya.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.icon-calendar {
    width: 19px;
    height: 19px;
    background: url('../img/huinya.png') -10px -10px;
}

.icon-calendar:hover {
    width: 19px;
    height: 19px;
    background: url('../img/huinya.png') -49px -10px;
}

.icon-forum {
    width: 28px;
    height: 20px;
    background: url('../img/huinya.png') -216px -10px;
}

.icon-forum:hover {
    width: 28px;
    height: 20px;
    background: url('../img/huinya.png') -168px -10px;
}

.icon-profile {
    width: 20px;
    height: 20px;
    background: url('../img/huinya.png') -128px -10px;
}

.icon-profile:hover {
    width: 20px;
    height: 20px;
    background: url('../img/huinya.png') -88px -10px;
}

.login-window {
    font-size: 14px;
    vertical-align: top;
    display: inline-block;
    color: #fff;
    margin-left: 15px;
    line-height: 21px;
}

.correct {
    text-decoration: none;
    color: #3cb878;
}

.correct:hover{
    border-bottom: 1px solid #3cb878;
}

.block-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -46.5%);
}

.header-register-form {
    margin-bottom: 33px;
}

.register-form {
    background-color: #fff;
    width: 444px;
    height: 584px;
    border-radius: 10px;
}

.rast {
    padding: 29px 62px;
}

.sign-up {
    color: #333333;
    font-size: 20px;
}

.log-in {
    color: #3cb878;
    font-size: 14px;
    margin-left: 205px;
}

.top-register {
    margin-bottom: 15px;
}

.register-link {
    text-decoration: none;
    font-family: "Arial", sans-serif;
}

.green-cube {
    position: absolute;
    left: 0;
    top: 0;
    background: #3cb878;
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 30px;
    margin-left: 0;
    display: inline-block;
}

.but1 {
    margin-right: 10px;
    background-color: #264b96;
}

.but2 {
    margin-left: 10px;
    background-color: #c3412c;
}

.but1, .but2 {
    box-sizing: border-box;
    width: 147px;
    height: 46px;
    border: 0;
    border-radius: 3px;
}

.symbol-link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.site-link {
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
}

.symbol-link::after {
    content: "";
    border-right: 1px solid #1c1a1c;
    height: 12px;
    padding-right: 9px;
}

.divider-line {
    margin-bottom: 18px;
}

.line-or {
    display: inline-block;
    margin: 0 14px;
}

.divider-line::before {
    display: inline-block;
    content: "";
    height: 1px;
    background-color: #eaeaea;
    width: 135px;
}

.divider-line::after {
    display: inline-block;
    content: "";
    background-color: #eaeaea;
    height: 1px;
    width: 135px
}

.focus-form {
    border: 1px solid #eaeaea;
    border-radius: 3px;
    box-sizing: border-box;
    width: 320px;
    height: 46px;
    padding: 18px 19px;
    margin-bottom: 9px;
    opacity: 0.6;
    color: #bebebe;

}

.focus-form:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    color: #000;
    font-weight: 600;
}

.rules {
    display: inline-block;
    margin-bottom: 28px;
}

.rules-link {
    color: #329a65;
}

.rules-link:hover {
    border-bottom: 1px solid #329a65;
}

.bottom-submit {
    width: 320px;
    height: 46px;
    border: 0;
    border-radius: 3px;
    background-color: #329a65;
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.control {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 28px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #434343;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.control input {
    display: none;

}

.link-color {
    color: #3cb878;
}

.link-color:hover{
    border-bottom: 1px solid #3cb878;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 1px solid rgba(0, 0,0 ,0.1);
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid #41ba7b;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


