body {
    background-image: url(../img/background.png);
    background-size: cover;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 1059px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

.header {
    margin: 49px 0;
    padding-bottom: 49px;
}

.header-text {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.header-title {
    float: left;
}

.header-logo{
    float: left;
    display: block;
    width: 46px;
    height: 44px;
    margin-right: 15px;
    background-image: url(../IMG/logo.png);
}

.header-milan {
    font-size: 29px;
    float: left;
    display: block;
}

.header-holidays {
    font-size: 18px;
    display: block;
}

.header-title:hover span {
    color: #f26522;
}

.header-title:hover .header-logo {
    background-image: url("../img/logo1.png");
    color: #f26522;
}

.contacts {
    float: right;
}

.contact-email {
    float: right;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

.contact-number {
    display: block;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    line-height: 1.5;
    text-align: right;
}

.content {
    float: left;
    text-align: center;
    margin-right: 68px;
    position: sticky;
}

.content-link {
    text-decoration: none;
}

.content:nth-child(3n) {
    margin-right: 0;
}


.price {
    float: left;
    padding: 16px 20px 0;
}

.view-details {
    float:right;
    padding: 35px 20px 17px 0;
}

.hover-on {
    box-sizing: border-box;
    position: absolute;
    bottom: 96px;
    height: 0;
    width: 307px;
    background-color: #f26522;
    overflow: hidden;
    opacity: 1;
    transition: 0.3s ease-out;
    color: white;
}

.content:hover .hover-on {
    height: 69px;
}

.text-desc {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin: 20px 0 55px 0;
}

.content:hover .text-desc {
    color: #f26522;
}

.price p {
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 7px;
}

.price p:nth-child(2n) {
    font-size: 20px;
    font-weight: 400;
}

.view-details p::after {
    content: "\203A";
    margin-left: 15px;
    font-size: 18px;
}

.footer {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
}