.header {
    background-image: url(../img/header-bg.jpeg);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.navbar-menu {
    background-color: #1d2124;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 127px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1d20;
    height: 70px;
    width: 81px;
}

.logo-text {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.link-menu {
    margin: 0 auto;
}

.link {
    margin-right: 37px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-bottom: 44px;
    font-size: 27px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    padding-bottom: 145px;
}

.fon-btn {
    border: 0;
    box-sizing: border-box;
    padding: 19px 21px;
    font-size: 18px;
    border-radius: 3px;
}

.first-btn {
    background-color: #89ca62;
    margin-right: 10px;
}

.second-btn {
    background-color: #14b9d5;
    margin-left: 10px;
}

.title-names {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #18b4cf;
    font-weight: 600;
    font-size: 27px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 52px;
    margin-bottom: 43px;
}

.section-posts {
    background-color: #f2f2f2;
}

.popular-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.post-link {
    text-decoration: none;
}

.post-text {
    font-size: 18px;
    color: #333333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
    margin-bottom: 20px;
}
.img-posts {
    vertical-align: middle;
}

.our-clients {
    background-image: url(../img/parallax-bg.jpeg);
    height: 590px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}