.main-container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    text-decoration: none;
    font-size: 60px;
}

.logotype {
    margin: 20px 0;
}

.words-black {
    color: black;
}

.words-blue {
    color: aqua;
}

.top-menu {
    width: 1280px;
    background-color: #35444f;
    margin: 0 auto;
    padding-left: 0;
}

ul {
    text-align: center;
    margin: 0 auto;
    padding-left: 0;
}

.text {
    color: white;
    display: inline-block;
    font-size: 20px;
    padding: 10px 35px;
    box-sizing: border-box;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
}

.text:hover {
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    cursor: pointer;
}

li.text:hover {
    background: #222f3a;
}

.left-menu {
    border: 1px solid grey;
    box-sizing: border-box;
    width: 344px;
    height: 402px;
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
}

.left-menu-text {
    text-decoration: none;
    color: #495863;
}

.left-menu-text:hover {
    cursor: pointer;
}

.left-menu-position {
    text-align: left;
    padding: 23px 42px;
    list-style-type: none;
    box-sizing: border-box;
    font-size: 30px;
}

.left-menu-position:hover {
    background: #dbdbdb;
    padding-left: 69px;
    transition: 0.7s;
}

.left-menu-position:hover a {
    color: black;
}

.image-border {
    border: 1px solid grey;
    width: 879px;
    height: 529px;
    display: inline-block;
    margin-left: 51px;
    margin-top: 40px;
    background-attachment: fixed;
}


.scale {
    display: block;
    margin: 75px auto;
}

.scale:hover {
    transform: scale(1.2);
    transition: 1s;
}

.text-paragraph {
    display: inline-block;
    padding: 30px 30px 30px 426px;
}

.lorem {
    text-align: left;
    color: #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer-menu {
    background: #b4b7ba;
    margin-bottom: 30px;
}

.footer-menu-block {
    display: inline-block;
    padding-left: 15px;
}

.footer-menu-box {
    text-align: left;
    font-size: 28px;
    padding: 15px 0 15px 30px;
    margin: 0 auto;
    display: inline-block;
}

.footer-menu-link-text:hover {
    color: #3a85a7;
    cursor: pointer;
}

.copy {
    display: inline-block;
    padding-left: 200px;
    font-size: 24px;
}