body {
    padding: 0;
    margin: 0;
}

.page-dimensions{
    background-color: #e8e9ea;
    font-family: "roboto", sans-serif;
}

.menu{
    padding: 20px 24px 20px 0;
    text-align: center;
}

.menu-item {
    color: #16A085;
    margin: 24px 49px 26px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding: 24px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.image {
    height: 100%;
    width: 100%;
}


.container {
    left: 113px;
    top: 978px;
    margin: 0 auto;
    width: 1059px;
    font-size: 16px;
    padding: 40px 0;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 2px;
    color: #373737;
    text-align: center;
}

.text-lorem {
    letter-spacing: 2px;
    font-weight: bold;
    color: #373737;
    line-height: 23px;
    text-align: center;
}

.button {
    background: #16A085;
    color: #F5F6F7;
    padding: 15px 30px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}


.footer {
    font-family: Roboto-Black, sans-serif;
    color: #373737;
    margin: 40px 78px 34px 576px;
    font-size: 16px;
    text-align: right;
    font-weight: bold;
    letter-spacing: 2px;
}